/* Theme Base color */
$white-color: #ffffff;
$red-color: #b00011;
$dark-red: #8e4e4e;
$pink-color: #fe0b62;
$yellow-color: #f7c137;
$orange-color: #ff5933;
$light-orange: #ffe5df;
$light-teal: #aacbc9;
$green-color: #33ac2e;
$light-green: #e7f7e9;
$dark-green: #12413e;
$light-blue: #d6ebe8;
$blue-color: #5578eb;
$black-color: #000000;

$gray-100: #111111;
$gray-90: #2e384d;
$gray-85: #171725;
$gray-80: #333333;
$gray-70: #8097b1;
$gray-60: #69707f;
$gray-50: #556178;
$gray-35: #8798ad;
$gray-30: #b0bac9;
$gray-25: #bfc5d2;
$gray-20: #999999;
$gray-15: #f0f2fc;
$gray11: #e0e6e8;
$gray-10: #e0e7ff;
$gray-9: #dee2ed;
$gray-8: #f4f6fc;
$gray-7: #e4e8f0;
$gray-6: #fafafb;
$gray-5: #e2e2ea;
$gray-4: #e2e2ea;
$gray-3: #eef3f5;

/* Colors */
$base-color: #ff5933;
$primary-color: #2e817b;
$secondary-color: #e74b28;

/* Basic font size */
$v-small-f-size: 9px;
$extra-small-size: 12px;
$small-f-size: 13px;
$extra-normal-f-size: 14px;
$base-f-size: 15px;
$extra-medium-f-size: 16px;
$medium-f-size: 17px;
$title-medium-size: 18px;

$v-small-f-size-res: 11px;
$extra-small-size-res: 15px;
$small-f-size-res: 16px;
$base-f-size-res: 18px;
$extra-medium-f-size-res: 19px;
$medium-f-size-res: 20px;
$title-medium-size-res: 21px;

/* Title font size */
$large-title-f-size: 48px;
$primary-title-f-size: 36px;
$page-title-f-size: 34px;
$medium-title-f-size: 32px;
$small-title-f-size: 28px;
$secondary-title-f-size: 24px;
$text-f-size: 16px;

$large-title-f-size-res: 52px;
$primary-title-f-size-res: 40px;
$page-title-f-size-res: 37px;
$medium-title-f-size-res: 35px;
$small-title-f-size-res: 31px;
$secondary-title-f-size-res: 27px;
$text-f-size-res: 19px;

/* Font family */
$base-font-family: Noah-Regular;
$title-font-family: Noah-Bold;
$boldtext-font-family: Arial-bold;
$regulartext-font-family: Arial-Regular;
$contact-regular-font-family: Helvetica-Regular;
$contact-bold-font-family: Helvetica-bold;

$common-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
